{% extends "base.html" %}
{% block content %}
  <div class="col-md-6 text-center mt-5 mx-auto">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        {% if selected_ticker %}
          {{ selected_ticker }}
        {% else %}
           Select a stock
        {% endif %}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for ticker in tickers %}
            <a class="dropdown-item" href="{% url 'sentiment:get_stock_sentiment' ticker %}">{{ ticker }}</a>
          {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
