{% extends "base.html" %}
{% block content %}
  <div class="col-md-6 text-center mt-5 mx-auto">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Select a stock
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for stock in stocks %}
            <a class="dropdown-item" href="{% url 'sentiment:get_stock_sentiment' stock.id %}">{{ stock }}</a>
          {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
