{% extends "base.html" %}
{% block container %}
  {{ block.super }}
  <div class="container">
    <div class="row home">
      <div class="col-md-6 single-stock m-auto py-5">
        <div class="col-md-10 my-auto">
          <div class="py-5">
            <h1 class="display-4 text-light text-center">Evaluate the sentiment of a stock</h1>
          </div>

          <div class="card small bg-light  shadow rounded border-0">
            <div class="card-header pt-3 border-0">
              <div class="lead text-light ">Select a stock:</div>

            </div>

            <div class="list-group rounded">
              {% for stock in stocks %}
                <a href="{% url 'sentiment:get_stock_sentiment' stock.id %}"
                   class="list-group-item list-group-item-action">{{ stock }}</a>
              {% endfor %}
            </div>

          </div>

        </div>
      </div>
      <div class="col-md-6 text-center py-5 m-auto portfolio align-middle">
        <div class="col-md-10 float-right my-auto">
          <div class="card small bg-light  shadow rounded-lg border-0">
            <div class="card-header pt-3 border-0">
              <div class="lead text-light text-left align-middle">Create a portfolio:</div>

            </div>
            <h1 class="display-4 text-muted text-center m-auto">Coming Soon</h1>
          </div>

          <div class="py-5">
            <h1 class="display-4 text-light text-center">Check the overall sentiment of your portfolio</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock container%}
