* {
  font-family: 'Lato', sans-serif;
}

:root {
  --primary-color: #02375f;
  --accent-color: #FF9900;
}

#background {

  background-image: linear-gradient(to bottom, rgba(85, 173, 237, 0.8), rgb(0, 33, 58)),
  url('/static/images/background.jpg');

  width: 100%;
  height: 100%;
  background-size: cover;
  position: fixed;
}

#hp-bg {
  background-image: url('/static/images/home-page-bg.jpg');
  width: 100%;
  height: 800px;
  background-size: cover;
}

.content {
  overflow-y: scroll;
  height: 100%;
}

.home, .show-sentiment {
  height: calc(100vh - 120px);
  display: flex;
}

.show-sentiment div.card, .charts, .tweets > div {
  height: 100%;
}

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.emoji {
  width: 100px;
  height: 100px;
  display: block;
}

.logo {
  width: 140px;
}

.color-primary {
  color: var(--primary-color) !important;
}

.color-accent {
  color: var(--accent-color) !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-accent {
  background-color: var(--accent-color) !important;
}

.bg-dark-color {
  background-color: #021e3c;
}

.display-6 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 110px;
}

.display-7 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-8 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.single-stock .card, .portfolio .card {
  height: 300px;
}

.single-stock .card .list-group {
  overflow: auto;
}

.card-header {
  background-color: #02375f;
  height: 70px;
}

.tweets > .card > .card-body {
  flex: 1;
  height: 100%;
  overflow: scroll;
}

.charts > .card-body {
  flex: 1;
  height: 100%;
  overflow: scroll;
}

.tweets .info {
  line-height: 32px;
}

.tweets .divider {
  border-color: #6c757d;
}

.tweets .row:last-child .divider {
  border: none !important;
}

#sentiment-chart {
  max-width: 800px;
  height: 110px;
}

.hc-cat-title {
  font-size: 13px;
  font-weight: bold;
}

.h-150px {
  height: 150px !important;
}

@media only screen and (max-width: 767px) {
  .tweets {
    height: 600px !important;
  }

  .show-sentiment {
    height: 100%;
  }

  .tweets
}

.tweets {
  height: calc(100% - 150px)
}

.btn-primary {
  background-color: #02375f !important;
  border-color: #02375f !important;
}

.pt-250 {
  padding-top: 250px;
}

.landing-header {
  height: 850px;
}

.icon-steps {
  height: 80px;
  display: block;
}

img.testimonial {
  height: 200px;
  display: block;
  border-radius: 50%;
}

img.sign-up-photo {
  height: 300px;

}

#sectors-map {
  height: calc(100% - 70px);
  width: 100%;
  bottom:0
  position: absolute;
}
