{% extends "base.html" %}
{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block container %}
  {{ block.super }}
  <div class="row">
    <div class="col-md-4 col-sm-8 col-xs-12 m-auto pt-5">
      <div class="card h-100 small bg-light  shadow rounded border-0 ">

        <div class="card-header pt-3 border-0">
          <div class="lead text-light ">{% block card_header %}{% endblock %}</div>
        </div>
        <div class="card-body h-100">
          {% block inner %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
